body {
    background-color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 105px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.pageback img {
    position: fixed;
    height: 70px;
    margin: 0px 0px 0px 20px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index:999;
    height: 173px;
}

.footer_box {
    width: 25%;
}

.reload img {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100px;
    margin-left: auto;
}
  
.img-reload {
    margin-left: auto; 
    display:block;
    margin: 200px 30px;
} 

.top-banner{
	display: flex;
	flex-wrap:wrap;
	margin: 0;
	padding: 0;
}

.top-banner li {
	width: calc(100%/5);/*←画像を横に4つ並べる場合*/
	padding:5 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
	text-align: center;
    list-style:none;
}
.top-banner li img {
	max-width:100px; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}
